@property --dark-bg {
  syntax: "<color>";
  inherits: true;
  initial-value: #172121;
}

@property --light-bg {
  syntax: "<color>";
  inherits: true;
  initial-value: #f1e6e4;
}

@property --primary-color {
  syntax: "<color>";
  inherits: true;
  initial-value: #9d808d;
}

@property --dark-primary {
  syntax: "<color>";
  inherits: true;
  initial-value: #513e46;
}

@view-transition {
  navigation: auto;
}

html {
  hanging-punctuation: first last;
  color-scheme: dark light;

  font-family: "Sour Gummy", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;

  background-color: light-dark(var(--light-bg), var(--dark-bg));
  color: light-dark(#444554, var(--light-bg));
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p,
li,
figcaption {
  max-width: 70ch;
  text-wrap: pretty;
}

header,
footer,
main,
section,
article {
  container-type: inline-size;
}

img {
  font-style: italic;

  background-repeat: no-repeat;
  background-size: cover;

  shape-margin: 1rem;

  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
  }
}

.name {
  color: light-dark(var(--dark-primary), var(--primary-color));

  text-align: center;
  font-weight: 900;
  font-size: clamp(3.5rem, -0.2059rem + 16.4706vw, 7rem);
  margin-top: 0;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 1rem;
  margin-top: 1rem;
}

.showcase-header {
  text-align: center;
}

ul {
  list-style: none;
  display: flex;
  gap: 1em;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  gap: 0.25em;
}

.showcase {
  display: flex;
  flex-direction: column;
  gap: 4em;
}

.card-container {
  container: card / inline-size;
}

.card-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  img {
    height: 100%;
    object-fit: contain;
  }
}

.shoot-title {
  /* color: light-dark(var(--dark-bg), var(--light-bg)); */
}

.card-wrapper h1 {
  font-size: clamp(1.5rem, 7cqi, 4rem);
  text-align: center;
}

.description {
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p {
    text-align: center;
  }
}

@media (max-width: 1000px) and (orientation: portrait) {
  .card-wrapper {
    border-radius: 5%;
    display: flex;
    position: relative;
    background: linear-gradient(
      to bottom,
      transparent,
      light-dark(#444554, var(--dark-bg))
    );
    margin: 1em;

    h1 {
      color: var(--light-bg);
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    img {
      z-index: -1;
      border-radius: 5%;
    }

    p {
      display: none;
    }
  }
}
